@import "tailwindcss";
@import "@fontsource-variable/sora";

@theme {
  --font-sora: "Sora Variable", sans-serif;
}

body {
  font-family: "Sora Variable", sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
