@import "tailwindcss";
@import "@fontsource-variable/inter";

@theme {
  --font-inter: "Inter Variable", sans-serif;
}

body {
  font-family: "Inter Variable", sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
