@import "tailwindcss";
@import "@fontsource-variable/sora";
@import "@fontsource-variable/roboto/wght.css";
@import "@fontsource-variable/roboto-mono/wght.css";

@theme {
  --font-sora: "Sora Variable", sans-serif;
  --font-roboto: "Roboto Variable", sans-serif;
  --font-roboto-mono: "Roboto Mono Variable", monospace;
  --color-primary: #005f55;
  --color-active: #004a42;
  --color-accent: #e74c3c;
  --color-bg: #f7f1ea;
  --color-il-blue: #002c4e;
  --color-il-yellow: #fbe232;
}

body {
  font-family: "Sora Variable", sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
