@import "tailwindcss";
@import "@fontsource-variable/sora";

@theme {
  --font-sora: "Sora Variable", sans-serif;
}

body {
  font-family: "Sora Variable", sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
